*.md filter=lfs diff=lfs merge=lfs -text
*.yml filter=lfs diff=lfs merge=lfs -text
/LICENSE filter=lfs diff=lfs merge=lfs -text
*.svg filter=lfs diff=lfs merge=lfs -text
*.vpp filter=lfs diff=lfs merge=lfs -text
*.bak_000f filter=lfs diff=lfs merge=lfs -text
*.bak_001d filter=lfs diff=lfs merge=lfs -text
*.bak_002d filter=lfs diff=lfs merge=lfs -text
*.bak_003d filter=lfs diff=lfs merge=lfs -text
*.bak_004d filter=lfs diff=lfs merge=lfs -text
*.bak_005d filter=lfs diff=lfs merge=lfs -text
*.bak_006d filter=lfs diff=lfs merge=lfs -text
*.bak_007d filter=lfs diff=lfs merge=lfs -text
*.bak_008d filter=lfs diff=lfs merge=lfs -text
*.vbak filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.bak filter=lfs diff=lfs merge=lfs -text
*.feature filter=lfs diff=lfs merge=lfs -text
*.jpeg filter=lfs diff=lfs merge=lfs -text
*.txt filter=lfs diff=lfs merge=lfs -text
/main_program/executable/linux/nyvonethunter filter=lfs diff=lfs merge=lfs -text
*.py filter=lfs diff=lfs merge=lfs -text
*.pyw filter=lfs diff=lfs merge=lfs -text
*.html filter=lfs diff=lfs merge=lfs -text
*.geojson filter=lfs diff=lfs merge=lfs -text
*.ui filter=lfs diff=lfs merge=lfs -text
*.qrc filter=lfs diff=lfs merge=lfs -text
*.ico filter=lfs diff=lfs merge=lfs -text
*.pyc filter=lfs diff=lfs merge=lfs -text
*.pth filter=lfs diff=lfs merge=lfs -text
/main_program/source/virtual_environment/Lib/site-packages/pip-22.0.4.dist-info/INSTALLER filter=lfs diff=lfs merge=lfs -text
/main_program/source/virtual_environment/Lib/site-packages/pip-22.0.4.dist-info/METADATA filter=lfs diff=lfs merge=lfs -text
/main_program/source/virtual_environment/Lib/site-packages/pip-22.0.4.dist-info/RECORD filter=lfs diff=lfs merge=lfs -text
/main_program/source/virtual_environment/Lib/site-packages/pip-22.0.4.dist-info/REQUESTED filter=lfs diff=lfs merge=lfs -text
/main_program/source/virtual_environment/Lib/site-packages/pip-22.0.4.dist-info/WHEEL filter=lfs diff=lfs merge=lfs -text
*.pem filter=lfs diff=lfs merge=lfs -text
*.cfg filter=lfs diff=lfs merge=lfs -text
*.exe filter=lfs diff=lfs merge=lfs -text
*.typed filter=lfs diff=lfs merge=lfs -text
/main_program/source/virtual_environment/Lib/site-packages/setuptools-58.1.0.dist-info/INSTALLER filter=lfs diff=lfs merge=lfs -text
/main_program/source/virtual_environment/Lib/site-packages/setuptools-58.1.0.dist-info/LICENSE filter=lfs diff=lfs merge=lfs -text
/main_program/source/virtual_environment/Lib/site-packages/setuptools-58.1.0.dist-info/METADATA filter=lfs diff=lfs merge=lfs -text
/main_program/source/virtual_environment/Lib/site-packages/setuptools-58.1.0.dist-info/RECORD filter=lfs diff=lfs merge=lfs -text
/main_program/source/virtual_environment/Lib/site-packages/setuptools-58.1.0.dist-info/REQUESTED filter=lfs diff=lfs merge=lfs -text
/main_program/source/virtual_environment/Lib/site-packages/setuptools-58.1.0.dist-info/WHEEL filter=lfs diff=lfs merge=lfs -text
*.xml filter=lfs diff=lfs merge=lfs -text
*.tmpl filter=lfs diff=lfs merge=lfs -text
*.ps1 filter=lfs diff=lfs merge=lfs -text
/main_program/source/virtual_environment/Scripts/activate filter=lfs diff=lfs merge=lfs -text
*.bat filter=lfs diff=lfs merge=lfs -text
